@import '../../node_modules/picnic/src/picnic';
@import '../../node_modules/picnic/src/plugins/nav/plugin';
@import '../../node_modules/picnic/src/plugins/modal/plugin';
@import './typography.scss';
@import '../../node_modules/react-toastify/scss/main.scss';
@import './spinner';

body
  { background:#fdfdfd;
  }

p a
  { color:inherit
  ; border-bottom: 1px solid #494949
  }

.content
  { width: 100%
  ; max-width:60em
  ; margin:4em auto
  ; padding:1em
  ; box-sizing: border-box
  }

.stretch
  { top:0
  ; left:0
  ; right:0
  ; bottom:0
  }

.image
  { background:#2a2a2a
  ; position: relative;
  ; margin-bottom:1em
  ; img
    { @extend .stretch
    ; position: absolute
    }
  ; .controls
    { position: absolute
    ; top:.5em
    ; right:.5em
    }
  }

.full-width-image
  { @extend .image
  }

.gallery-image
  { @extend .image
  ; height:0
  }

.gallery-router-links
  { columns: 12em auto;
  ; a
    { margin:1em
    ; display: block
    }
  }

.article-image
  { width: 100%
  ; height: 0
  ; padding-bottom: 50%
  ; text-align: center
  ; position: relative;
  ; img
    { height:100%
    ; width:auto
    ; position: absolute;
    ; margin:0 auto
    ; @extend .stretch
    }
  }

.press-file
  { a
    { font-size: .5em
    ; margin-left: 1em
    }

  }

.mini-text
  { font-size: .6em
  ; padding: .3em
  }

.dropimage
  { padding-bottom: 75%
  }

.event-image, .event-content
  { width: 50%
  }

.event-image
  { float:right
  }

.event-content
  { float:left 
  ; max-height: 300px
  ; overflow: hidden;
  ; position: relative;
  ; &::after
    { content: ''
    ; height: 70px
    ; width: 100%
    ; background: linear-gradient(to bottom, rgba(white,0), rgba(white,1))
    ; position: absolute
    ; bottom:0
    }
  }

.full
  { .event-content
    { max-height: none
    ; &::after
      { content:none
      }
    }
  }

.event
  { border-top:1px solid #ccc
  ; padding: 1em
  ; position: relative
  ; &:first-of-type
    { border-top-width: 0
    ; .event-image
      { display:block
      }
    }
  ; &::after
    { display:table
    ; content: ''
    ; width: 100%
    ; clear:both
    }
  }

nav
  { z-index: 9998;
  ; display: flex
  ; justify-content: center
  ; align-items: baseline
  ; height:4em
  ; @media (max-width:60em)
    { background:transparent
    ; box-shadow: none
    ; justify-content: flex-end;
    }
  ; .burger
    { position: relative
    ; span
      { display:none 
      }
    ; &.button
      { background: #fdfdfd
      ; box-shadow: 0 0 0.2em rgba(17, 17, 17, 0.2)
      }
    ; &::after, &::before
      { content: ''
      ; display: block
      ; height: .3em
      ; width: 1.4em
      ; float: left
      ; clear: both
      ; box-sizing: content-box
      ; top:0
      ; left:0
      ; border-color:black
      ; border-bottom-width: .1em
      ; border-bottom-style: solid
      }
    ; &::before
      { border-top-style: solid
      ; border-top-width: .1em
      ; height:.3em
      ; margin-top: .2em
      }
    ; &::after
      { margin-bottom: .2em
      }
    }
  ; .show:checked
    { ~ .burger
      { &::after, &::before
        { content: none
        }
      }
    }
  ; .logo
    { display:none
    ; @media (min-width:60em)
      { display:inline
      }
    }
  ; .menu
    { a
      { color:#494949
      ; border-bottom: 1px solid transparent
      ; &.active, &:active
        { border-bottom-color:#ae1e1e
        ; @media (max-width:60em)
          { border-bottom-width: 0
          }
        }
      ; @media (max-width:60em) 
        { &.active, &:active
          { color:#ae1e1e
          }
        }
      ; &.main
        { font-size: 1.1em
        }
      ; &.small
        { font-size:.9em
        ; margin-left:.9em
        }
      }
    ; .logo
      { width:100%
      ; padding:3em
      ; height: auto
      ; @media (min-width:60em)
        { display: none
        }
      }
    }
  }

.loading
  { position: fixed
  ; z-index: 9997
  ; top: 0
  ; left: 0
  ; width: 100vw
  ; height: 100vh
  ; background: rgba(white,.7)
  }